.text-muted {
  letter-spacing: 0;
  font-size: 0.75rem; // 12px;
  line-height: 1.5; // 18px;
  color: $gray-400!important;
}

.btn {
  letter-spacing: 0.03125rem; // 0.5px;
  @media (min-width: 568px) {
    padding: 0.625rem 2.125rem;; // 10px 34px
  }
}

.btn-sm {
  letter-spacing: 0.025rem; // 0.4px;
  @media (min-width: 568px) {
    padding: 0.3125rem 0.875rem; // 5px 14px
  }
}

.btn-secondary {
  color: $white;
}

.btn-outline-primary:hover, .btn-outline-primary:active {
  background-color: $secondary;
  border-color: $secondary;
}

.btn-outline-primary:disabled:hover {
  background-color: transparent;
  border-color: $primary;
  cursor: not-allowed;
}

@media (min-width: 568px) {
  .w-sm-auto {
    width: auto!important;
  }
}