.p-map {
  &__icon {
    background-image: url('~@/assets/images/icon_map.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(45deg);
  }
}