.p-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  transform: translateX(-100%);
  transition: .4s transform;
  @media (min-width: 568px) {
    width: 503px;
  }
  &.active {
    transform: translateX(0);
  }
  &__body {
    background-color: $gray-100;
    box-shadow: 0.1875rem 0.1875rem 0.9375rem $gray-300; // 3px 3px 15px $gray-300;
    padding: 1.9375rem 1.8125rem; // 31px 29px;
    // max-width: 34.3125rem; // 549px;
    overflow-y: auto;
  }
  &__toggle {
    position: absolute;
    top: 3.1875rem;
    left: 100%;
  }
  &__image {
    background: $white url("~@/assets/images/banner_announce_fix_01.png") center right no-repeat;
    padding: 0.5625rem 1.375rem 0.5rem; // 9px 22px 8px;
    margin: 0.9375rem 0 1.75rem; // 15px 0 28px;
    border-radius: 0.9375rem; // 15px;
  }
  &__card {
    display: block;
    background-color: $white;
    box-shadow: 0.0625rem 0.0625rem 0.9375rem $gray-200; // 1px 1px 15px $gray-200;
    border-radius: 1.875rem; // 30px;
    padding: 1.4375rem 1.4375rem 0.875rem 1.5625rem; // 23px 23px 14px 25px;
    &:hover {
      text-decoration: none;
    }
  }
  &__icon {
    width: 2.125rem; // 34px;
    height: 2.125rem; // 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-width: 0.125rem; // 2px;
    border-radius: 50%;
    margin-bottom: 0.8125rem; // 13px;
  }
  &__search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
  }
}